div {
    width: 800px;
    height: 400px;
    background: url(../images/istockphoto-1176769388-170667a.gif);
    background-repeat: no-repeat;
    margin:10px auto
}

.article {
    display: flex;
    align-items: flex-start;
    width: 800px;
    height: 400px;
    margin:10px auto
}

.div1 {
    background: url(../images/consultant-marketing.jpg), url(../images/istockphoto-1176769388-170667a.gif);
    background-size: cover !important;
    background-color: green;
    width: 60% !important;
    height: auto !important;
    min-height: 80%;
    
}

.div2 {
  background-size: cover;
  background-color:  red;
  background: linear-gradient(grey,black);
}

.div3 {
  background-size: contain;
  background-color:  yellow;
}

.div4 {
  background-size: 50% 50%;
  background-color:  blue;
}